$primary-color: #3b3837;
$secondary-color: #827171;
$text-color: #333;
$background-color: #585656;
$font-family:Arial, sans-serif;

// Breakpoints para diseño responsive
$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
