$primary-color: #161616;
$secondary-color: #686464;
$text-color: #333;
$background-color: #585656;
$font-family:Arial, sans-serif;

// Breakpoints para diseño responsive
$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
