.about {
    padding: 2rem;
  
    h2 {
      text-align: center;
      color: $primary-color;
      margin-bottom: 1rem;
    }
  
    p {
      margin-top: 1rem;
      color: $text-color;
      text-align: center;
    }
  }
  